// FONT
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

//font-family: 'Fredericka the Great', cursive;
//font-family: 'Roboto', sans-serif;

// RESET
@import "reset";

//Var
$font-color: #2f2f2f;
$font-color2: #403e3b;

//COMMON
body {
  background-color: black;
}

a {
  color: $font-color;
}

//header
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #2f2f2f;
  padding: 5vh 5vw;
  z-index: 2;

  h1 a {
    font:bold 30px/50px 'Roboto';
    color: $font-color;
    letter-spacing: 5px;
  }

  #gnb {
    display: flex;

    li{
      margin: 0 30px;

      a {
        font: 12px/1 'Roboto';
        letter-spacing: 3px;
      }
    }
  }

  .sns {
    display: flex;
    
    li {
      margin: 0 10px;
      
      a {
        font-size: 16px;
        color: $font-color;
      }
    }
  }


  .btn-menu {
    display: none;
    color: $font-color;
    font-size: 30px;
  }
  .snb {
  
    .sub-menu{
      display: none;
      position: absolute;
      padding: 10px 25px;
      background-color: rgba(255, 207, 145, 0.9);
      border: 1px solid $font-color2;
      border-radius: 10px;
      right: 5vw;
      text-align: right;
      opacity: 1;
      transition: 0.4s;

      &.hide {
        opacity: 0;
      }

      li {
        padding: 10px 0;
        font: 14px/1 'Roboto';
        color: $font-color;

        a i {
          margin-left: 8px;
        }
      }
    }
  }
}

//VIDEO
figure {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .text {
    position: absolute;
    right: 6vw;
    top: 44%;
    transform: translateY(-50%);
    text-align: right;

    p {
      font: normal 8vw/1 'Roboto';
      color: $font-color2
    }

    ul{
      position: absolute;
      right: 0.1vw;
      display: flex;
      margin-top: 30px;
    li {
      margin: 0 30px;
      
      i{
        font-size: 20px;
        color: $font-color;
        margin-right: 10px;
      }
      
      strong {
        font: 14px/1 'Roboto';
        color: $font-color2;
        letter-spacing: 1px;
      }
     }
    }
  }
}

footer {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  font: 12px/1 'sans-serif';
  letter-spacing: 5px;
  color: rgb(255, 251, 245);
  padding: 3vh 0;
}

// 반응형
@media screen and (max-width: 968px) {
  header {
    #gnb {
      display: none;
    }

    .sns {
      display: none;
    }

    .snb {
      .btn-menu {
        display: block;
      }

      .sub-menu {
        display: block;
      }
    }
  }

  figure {
    .text {
      p {
        font-size: 15vw;
      }

      ul li {
       margin: 0 10px;
      }
    }
  }
}